<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Drawing Shapes w/ D3 - "/>
    <meta charset="utf-8">
    <title>Drawing SVG Shapes</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="shortcut icon" href="">
</head>
<body>
<h3>D3 Charts</h3>
<script type="text/javascript" src="{{url_for('static', filename='d3_charting.js')}}"> </script>
</body>
</html>